/build
/.gradle
/app/build

local.properties
.env

.idea/
*.iml
*.ipr
*.iws
.DS_Store

*.jks
*.keystore

*.apk
*.aab
*.jar
*.aar

*.log
captures/
.cxx/
*.hprof

.gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradle-wrapper.properties